
/*
Black: #373938;
Gray: #ececec;
Brand Orange: #e8862e;
Secondary Orange: #d16d11;

Default transition for background: 0.25s;

*/

/* Basics */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #373938;
}

header {
  /*background-color: */
   /*make the pattern in #e1e1e1*/
  background: #ececec url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYlWNgIAU8fPjw/+vXr/8TVPj69WviFI4CXAAAw7UO42A14IgAAAAASUVORK5CYII=) repeat;
  position: relative;
  padding-bottom: 5.5em;
}

nav {
  justify-content: flex-end;
  background: white;
  padding: 1em 0;
  border-bottom: 1px solid #ececec;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

nav.fixed {
  position: fixed;
  top: 0;
  bottom: unset;
  z-index: 1;
}

section {
  padding: 2em;
  padding-top: 5em;
}

section:nth-child(2n+1) {
  background-color: #ececec;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  line-height: 1.5em;
}


svg {
  display: inline;
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

a {
  color: #e8862e;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.25s, color 0.25s;
}

a svg path, a svg polygon {
  fill: #373938;
  transition: fill 0.25s;
}


a:visited, a:hover{
  color: #d16d11;
}

ul a,
ul a:visited {
  color: #373938;
  font-weight: bold;
}

ul a:hover {
  color: #e8862e;
}

ul a:hover svg path, ul a:hover svg polygon {
  fill: #e8862e;
}

ul.row li{
  margin-right: 1.5em;
}

ul a svg {
  margin-right: 0.25em;
}



/* specific entities */

header .row {
  align-items: center;
}

header img {
  min-width: 250px;
}

header a.cta,
header a.cta:visited {
  color: white;
  background-color: #e8862e;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  position: relative;
  transition: background-color 0.25s;
}

header a.cta:after {
  display: inline-block;
  content: '>';
  color: white;
  margin-left: 1em;
  background-color: #d16d11;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;
  text-align: center;
  line-height: 1.75em;
  font-size: 1.5em;
  transition: background-color 0.25s;
}

header a.cta:hover {
  background-color: #d16d11;
}

header a.cta:hover:after {
  background-color: #e8862e;
}


nav > * {
  margin: 0 0.5em;
}

nav svg {
  width: 2em;
  height: 2em;
}

nav .logo {
  flex-grow: 1;
}
nav a, nav a:visited {
  color: #373938;
}
nav a:hover, nav a.hl {
  color: #e8862e;
}


nav a:hover svg polygon {
  fill: #e8862e;
}

.main {
  text-align: center;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.main p {
  max-width: 50em;
}

.main ul {
  max-width: 80em;
}

.main ul.row li {
  padding: 0.5em 1em;
  text-align: center;
  margin: 0;
}

.main li:not(:first-child) {
  /*border-left: 1px solid #373938;*/
  border-width: 0;
  border-left-width: 1px;
  border-style: solid;
  -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #c1c1c1, #676868, #c1c1c1,  rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #c1c1c1, #676868, #c1c1c1,  rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(rgba(0, 0, 0, 0), #c1c1c1, #676868, #c1c1c1,  rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c1c1c1, #676868, #c1c1c1,  rgba(0, 0, 0, 0)) 1 100%;
}

.main li svg {
  width: 3em;
  height: 3em;
}


.cur-status {
  padding: 2em;
  margin-left: 3em;
  border: 1px;
  border-right-width: 0px;
  /*border-left-width: 1px;*/
  border-style: solid;
  position: relative;
  -webkit-border-image: -webkit-linear-gradient(#676868, #c1c1c1,  rgba(0, 0, 0, 0)) 100 100 stretch;
  -moz-border-image: -moz-linear-gradient(#676868, #c1c1c1,  rgba(0, 0, 0, 0)) 100 100 stretch;
  -o-border-image: -o-linear-gradient(#676868, #c1c1c1,  rgba(0, 0, 0, 0)) 100 100 stretch;
  border-image: linear-gradient(90deg, #676868, #c1c1c1,  rgba(0, 0, 0, 0)) 100 100 stretch;
}

.cur-status ul li {
  margin: 0.5em 0.25em;
}